html {
  background-color:#f5f5dc;
  color:#577575; 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} 

body{
  margin: 0;
  width: 100%;
  height:100%;
}

.header {
  background-color: #e8e8c1;
  overflow: hidden;  
  position: fixed;
  top: 0;
  width: 100%;
}

#logo{
  float: left;
  display: block;
  color: #007C7C;
  text-align: left;
  padding: 1% 1% 1% 10%;
  text-decoration: none;
  font-size: 150%;
  font-weight: bolder;
}

#nav{
  position: fixed;
  right: -70%;
  top: 0; 
  width:100%; 
}

li{
  list-style-type: none;
}

.li {
  display: inline;  
  text-align: right;
  padding: 2%;
  width:auto;
  font-weight: bold;
  color:#007C7C;
}

h1, h2  {
  font-size: large;
  font-weight: bold;
  color:#007C7C; 
}

.section{
  display: grid;
  grid-auto-flow: column;
  border: 1px solid;
  box-shadow: 5px 10px #577575;
  box-sizing: content-box;
}

#aboutMain{
  margin: 10% 40% 10% 20%;
  padding: 2%;
}

#experience{
   margin: 0 10% 10% 50%; 
}

.flexLi{
  display: flex;
  flex-wrap: wrap;
}

#skills{
  margin: 0 50% 10% 10%;  
}

.headlines{
  text-align: center; 
}

.listItems{
  text-align: center;
  padding-left: 0;
  list-style-position: inside;
}

#div {
  width: 100%;
  border: 2px solid #007C7C;
  padding-top: 30%;
  background-color: #e8e8c1;
  margin-top: 20%;
}

#connect{
    float: right;
    font-size: small;
    padding:0;
    margin-top: 45%;
    margin-right: 2%;
}

/* leaveMessages-small*/
@media (min-height: 320px), screen and (orientation: portrait){
  #leaveMessages{
      float: right;
      font-size: small;
      padding:0;
      margin-top: 25%;
      margin-right: 55%;      
    }   
  }

/* leaveMessages - large*/
@media (min-height: 700px), screen and (orientation: portrait){
  #leaveMessages{
      float: right;
      font-size: small;
      padding:0;
      margin-top: 28%;
      margin-right: 60%;
    }  
  }

textarea, input{
  background-color:#f5f5dc;
  border: 2px solid #007C7C;
  padding: 4%;
}

label{
  font-size: 110%;
}

#myMessages{
  text-align: center;
  list-style-type: none;
}

/* messages-small*/
@media (min-height: 320px), screen and (orientation: portrait){
  #messages{
      font-size: small;
      padding:0 0 1% 0;
      border: 10px solid #007C7C;
      float: right;
      margin-top: 32%;
      margin-right: -50%;
      border-block-style: groove;
    }  
  }

 /* messages-large*/
  @media (min-height: 700px), screen and (orientation: portrait){
    #messages{
      font-size: small;
      padding:0 0 1% 0;
      border: 10px solid #007C7C;
      float: right;
      margin-top: 35%;
      margin-right: -34%;
      border-block-style: groove;
      text-align: center;
    }    
  }

  button{
    background: #007C7C;
    border: 0;
    color: #e8e8c1;
    border-radius: 35%;
}

 #sendButton{
  margin-top:-6%;
  margin-left:75%;
  padding: 7%;
}

.removeButton{
  margin-top:5%;
  margin-left:60%;
  padding: .5% 5%;
}

footer {
  background-color: #e8e8c1;
  overflow: hidden;  
  position: relative;
  bottom:0;
  width: 100%;
}
